.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.button {
  
}

.restaurantheader {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  border: 5px solid purple;
}

.restPhoto {
  border: 3px solid black;
  height: 300px;
  width: 400px;
}

.restName {
  color: #9A031E;
}

.deleteRest {
}

.share {
}

.restAddy {
}



