:root{
  --neon-text: #FFC15E;
  --neon-border: #9A031E;
}

body{
  background-color: hsl(44, 31%, 50%);}

h2{
  font-size: 6rem;
  font-family: 'Abril Fatface', cursive;
}


/* Header Navbar Design */
nav{
  font-family: 'Pacifico', cursive;
  height: 12vh;
  min-width: 1050px;
  background-color: #050517;
}
.navbar{
  display: flex;
  justify-content: space-between;
}
.navGrouping{
  display: flex;
}
.navbar-brand{
  font-size: 2rem;
  margin: 0 1em;
  padding: .2em .5em;
  color: var(--neon-text) !important;
  border: 0.125em solid var(--neon-border);
  border-radius: 0.25em;
  text-shadow: 
  0 0 0.1em hsl(0, 0%, 100%),
  0 0 0.5em currentColor;
  box-shadow: 
  0 0 0.05em hsl(0, 0%, 100%),
  0 0 1em var(--neon-border),
  inset 0 0 .6em var(--neon-border);
  transform: rotate(-10deg);
}
.nav-item{
  font-size: 2rem;
  margin-right: 1em;
  text-shadow: 
  0 0 0.05em hsl(0, 0%, 100%),
  0 0 .6em var(--neon-text);
}
.nav-item:hover{
  transform: scale(1.1);
}
.nav-link{
  color: var(--neon-text) !important;
}
.btn{
  background-color: #050517;
  border: #050517 solid 2px;
  font-size: 1.2rem;
  margin-right: 1em;
  color: var(--neon-text) !important;
  text-shadow: 
  0 0 0.05em hsl(0, 0%, 100%),
  0 0 .6em var(--neon-text);;
}
.btn:hover{
  background-color: #050517;
  border: 0.125em solid var(--neon-border);
  border-radius: .5em;
  box-shadow: 
  0 0 0.05em hsl(0, 0%, 100%),
  0 0 1em var(--neon-border),
  inset 0 0 .6em var(--neon-border);
  transform: scale(1.1);
  transition: 500ms ease-in-out;
}
.btn:focus{
  background-color: #050517;
  border: 0.125em solid var(--neon-border);
  border-radius: .5em;
  box-shadow: 
  0 0 0.05em hsl(0, 0%, 100%),
  0 0 1em var(--neon-border),
  inset 0 0 .6em var(--neon-border);
}


/* Landing Page Design */
.pizza-img{
  height: 88vh;
}
.intro{
  background-color: hsl(44, 31%, 88%);
  width: 80vw;
  min-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.intro-text{
  display: flex;
  align-items:flex-end;
  justify-content: center;
  flex-direction: column;
  min-width: 700px;
  padding: 5em;
}


/* Explore Page */
.search-location{
  display: flex;
  justify-content: center;
  margin-top: 1em;
}
.slide{
  margin: 0 auto;
}
.carouselImg{
  max-width: 60vw;
  height: 60vh;
  margin: 0 auto;
}
.mask1 {
  -webkit-mask-image: linear-gradient(rgb(0, 0, 0), transparent);
  mask-image: linear-gradient(black, transparent);
}
.modalImg{
  height: 10vh;
}

/* About US */

.selfiebutton{
  background-color: #050517;
  border: #050517 solid 2px;
  font-size: 1.2rem;
  margin-right: 1em;
  color: var(--neon-text) !important;
  text-shadow: 
  0 0 0.05em hsl(0, 0%, 100%),
  0 0 .6em var(--neon-text);;
  justify-content: center;
}
.btncontainer{
  width:100%;
  display:flex;
  justify-content: center;
  align-items: baseline;

}
.selfiebutton:hover{
  background-color: #050517;
  border: 0.125em solid var(--neon-border);
  border-radius: .5em;
  box-shadow: 
  0 0 0.05em hsl(0, 0%, 100%),
  0 0 1em var(--neon-border),
  inset 0 0 .6em var(--neon-border);
  transform: scale(1.1);
  transition: 500ms ease-in-out;
}
.selfie:focus{
  background-color: #050517;
  border: 0.125em solid var(--neon-border);
  border-radius: .5em;
  box-shadow: 
  0 0 0.05em hsl(0, 0%, 100%),
  0 0 1em var(--neon-border),
  inset 0 0 .6em var(--neon-border);
}


.profiles{
  display: flex;
  flex-direction: row;
}
.selfies{
  border-radius: 8px;
  height: 70vh;
  transition: all 1s ease-in-out;
  opacity: 0.5;
}
.selfies:hover{
 opacity: 1;
 transition: 1s ease-in-out
}
h5
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 40px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}